html{
    font-size: 50px;
}

#Mobile_header{
    flex: 1;
    background: #f6f6f6;
}

#Mobile_header header{
    border-bottom: 1px solid #1890ff;
    padding-left: 10px;
}

#Mobile_header header img{
    height: 50px;
}

#Mobile_header header span{
    font-size: 35px;
    vertical-align: top;
    padding-left: 5px;
    color: #1890ff;
}

#Mobile_header i{
    font-size: 0.5rem;
    float: right;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    color: #1890ff;
}
.Mobile_newsBlock_li{
    text-decoration-line: underline;
    margin-bottom: 5px;
}

.Mobile_newsBlock_ul{
padding: 0;
margin: 0;
}

.Mobile_NewsBlockTabs{
    height: 550px;
}
