a{
    color: rgba(0, 0, 0, 0.65);
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 48px;
    height: 48px;
}

.logo span{
    font-size: 24px;
    padding-left: 5px;
}

.footer{
    text-align: center;
  }
  
  .register{
    float: right !important;
  }
  
  .ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a
  {
    display: inline-block !important;
  }

  .tabs_news{
      width: 500px;
      display: inline-block;
      margin-left: 10px;
      height: 775px;
      margin-bottom: 20px;
  }

  .newsBlock_li{
    list-style-type: none;
    text-decoration-line: none;
}
.topNewsList{
}

    .newsBlock_ul{
    padding: 0;
    margin: 0;
    }  

  .container{
      margin-top: 10px;
  }
  .leftContainer{
      width: 400px;
      display: inline-block;
      /* transform: translateY(-165px); */
    }
  .carousel{

  }
  .imageblock{
      display: inline-block;
      margin-right: 10px;
  }
  .custom-card{
      text-align: center;
  }
  .custom-card>h3{
      font-size: 16px;
  }
  .custom-card>p{
      color: rgba(128, 128, 128);
      font-size: 12px;
  }


  